
#header button:focus{
    outline: none;
}

#header {
    width: 100%;
    height: 58px;
    background-color: white;
    padding: 3px;
    color:#3d7de5 ;
}




#finder-btn{
    background-color: white;
    border: none;
    margin-left: 20px;
    height: 105%;

}
#homepage-btn{
    background-color: white;
    border: none;
    margin-left: 658px;

}

#match-btn{
    background-color: white;
    border: none;
}

#message-btn{
    background-color: white;
    border: none;
}

#discover-btn{
    background-color: white;
    border: none;
}

#profile-btn{
    margin-left: 282px;
    border: none;
    background-color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 12px;
}

.profile_btn .avatar img {
    margin-left: -110px;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.profile_btn .title {
    padding: 0 10px;
    color: black;
    background-color: white;
    font-weight: bold;
    text-transform: uppercase;
    color: #1d368a;
    margin-top: -30px;
    margin-left: 30px;
    margin-bottom: 12px;
    font-size: 15px;

}


#setting-btn{
    padding: 6px;
    background-color: #E4E6EB;
    border: none;
    margin-left: 5px;
    margin-bottom: 2px;
border-radius: 50%;
}


/*Hover*/

#homepage-btn:hover{
    background-color: #E4E6EB;
    border-radius: 6px;
    border-bottom: 4px solid #fd5068;
    padding-bottom: 2px;

}

#match-btn:hover{
    background-color: #E4E6EB;
    border: none;
    border-bottom: 4px solid #fd5068;
    padding-bottom: 2px;
}

#message-btn:hover{
    background-color: #E4E6EB;
    border: none;
    border-bottom: 4px solid #fd5068;
    padding-bottom: 2px;
}

#discover-btn:hover{
    background-color: #E4E6EB;
    border: none;
    border-bottom: 4px solid #fd5068;
    padding-bottom: 2px;
}

#profile-btn:hover{
    background-color: #E4E6EB;
}


#setting-btn:hover{
    background-color: #fd5068;
    border: none;

}



/*Image*/

#finder-img{
    background-color: white;
}

#homepage_img{
     background-color: white;
     color: white;
     padding-left: 40px;
     padding-right: 40px;
     padding-top: 5px;
     padding-bottom: 5px;
 }

#match_img{
    background-color: white;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

#message_img{
    background-color: white;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}

/*#profile_img{
    margin-left: -85px;
    background-color: white;
    border-radius: 50%;
}*/

#discover_img{
    background-color: white;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
}



#setting_img{
    background-color: #E4E6EB;

}


/*Image Hover*/
#homepage_img:hover{
    background-color: #E4E6EB;
}

#match_img:hover{
    background-color: #E4E6EB;
}

#message_img:hover{
    background-color: #E4E6EB;
}

#profile_img:hover{
    background-color: #E4E6EB;
}

#discover_img:hover{
    background-color: #E4E6EB;
}

#setting_img:hover{
    background-color: #fd5068   ;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}