body {
    background-color: #f5f7fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-height: 100vh;

}



.container1 {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100vh;

}

.side1 {
    max-width: 450px !important;
    width: 400px!important;
    min-width: 320px;
    background-color: #fff;
    min-height: 100vh;
    border-right: 1px solid #e1e1e1;
    height: 100%;
margin-right: 100px;

}

.space {
    width: 100%;
    height: 25px;
    background-color: #f5f7fa;
}

.side1 .header {
    background: linear-gradient(262deg, #ff7854, #fd267d);
    width: 100%;
    height: 67px;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.side1 .header .avatar img {
    width: 50px;
    height: 50px;
    margin-left: 25px;
    border-radius: 40px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.side1 .header .title {
    padding: 0 10px;
    color: #fff;
    font-size: 23px;
    margin-left: 15px;
}

.side1 .match-container{
    max-width: 400px !important;
    display: flex;
    position: absolute;
    flex-direction: column;
}

.side1 .match-container .match {

    display: flex;
    flex-direction: row;

}

.side1 .match-container .match1 {
    display: flex;
}



.side1 .match-container .match  img {
    width: 105px;
    height: 120px;
    border-radius: 12px;
}

.side1 .match-container .match  button {
    margin-top: 20px;
    margin-left: 15px;
    border: none;
}

.side1 .match-container .match  button:hover {
    transform: scale(1.15);
}

.side1 .match-container .match1  button:hover {
    transform: scale(1.15);
}

.side1 .match-container .match1  button {
    margin-top: 25px;
    margin-left: 15px;
    border: none;
}



.side1 .match-container .match1 img {
    width: 105px;
    height: 120px;
    border-radius: 12px;
}

.side1 .match-container   button:focus {
    outline: none;
}

.side1 .match-container .user .name{

    margin-top: -23px;
    margin-right: 34px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-align: center;

}

/*Middle*/

.mess {
    width: 1029px;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    background-color: white;
    min-height: 100vh;
}

.mess .mess-header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #e1e1e1;;
}

.mess .content-mess {
    width: 100%;
    height: 760px;
    border-bottom: 2px solid #e1e1e1;
}

.mess .input-mess {
    width: 100%;
    height: 50px;
}

.profile {
    width: 100% ;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    display: flex;
   /* padding: 20px 0;*/
    align-items: center;
    flex-direction: column;
}

.profile .container1 {
    width: 513px;
    height: 80%;
}

.ui .card {
    width: 100%;
    height: 90%;
}


/*Mess*/
.mess .mess-header .avatar1 {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.mess .mess-header .avatar1 .avatar-header-mess {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.mess .mess-header .avatar1 .close-btn {
    border: none;
    margin-left: 450px;

}

.mess .mess-header .title {
    margin-left: 30px;
    font-size: 18px;
}

.mess .mess-header .avatar1 .close-btn:hover {
    background-color: #E4E6EB;
    border-radius: 50%;
}

.mess .input-mess {
    display: flex;
}

.mess .input-mess button {
    padding-top: 2px;
    background-color: transparent;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}

.mess .input-mess .text-input {
    width: 690px;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
    border: none;
}

.mess .input-mess .send-input {
    width: 79px;
    height: 33px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #e1e1e1;
    color: white;
    font-size: 19px;
    font-weight: bold;

}

.mess .input-mess button:focus {
    outline: none;
}


.mess .input-mess input:focus {
    outline: none;
}

/*Card*/
.profile .card img {
    width: 100%;
    height: 600px;
}

.profile .card .content {
    padding-left: 25px;
    border-bottom: 2px solid #e1e1e1;;
    padding-bottom: 10px;
}


.profile .card .content .name-profile {
    display: flex;
}

.profile .card .content .name-profile .name {
    padding-top: 3px;
    font-size: 29px;
}

.profile .card .content .name-profile .age {
    font-size: 22px;
    margin-left: 17px;
    margin-top: 14px;
}

.profile .card .content .local {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
}

.profile .card .content .local {
    display: flex;
    align-items: center;
    padding: 0 0 8px 0;
}

.profile .card .content .local span {
    font-size: 19px;
    padding: 0 10px;
}

.profile .card .content .school-container {
    display: flex;
    align-items: center;
}

.profile .card .content .school-container span {
    font-size: 19px;
    padding: 0 10px;
}

.profile .card .content .live-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.profile .card .content .live-container span {
    font-size: 19px;
    padding: 0 10px;
}


.profile .card .content .sex-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.profile .card .content .sex-container span {
    font-size: 19px;
    padding: 0 10px;
}


.profile .card .description {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-left: 28px;
    margin-top: 15px;
    font-size: 19px;
    border-bottom: 2px solid #e1e1e1;

}


.profile .unmatch-container {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 10px;
}

.profile .unmatch-container button {
    width: 50%;
    height: 70px;
    font-weight: bold;
    color: black;
    background-color: #e1e1e1;
    border: none;
}

.profile .unmatch-container .unmatch-btn {
    border-right: 1px solid #6c6c6c;
}

.profile .unmatch-container button:hover {

    background: linear-gradient(262deg, #ff7854, #fd267d);
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.profile .unmatch-container button:focus {
    outline: none;
}

.card .local i{
    height: 25px;
    width: 25px;
    background-image: url("../img/location.png");
}

.card .school-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/school.png");
}

.card .live-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/house.png");
}

.card .sex-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/sex.png");
}

.work .work-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 1px;
    border-bottom: 1px solid #bababc;
}

.work .work-container .work-name {
    margin-left: 5px;
}
 .work span {
    color: rgba(29, 29, 29, 0.6);
    padding: 0 10px;
    text-shadow: 1px 1px 1px #444;
     margin-left: 5px;
}

.work .work-container i {
    height: 25px;
    width: 25px;
    background-image: url("../img/work.png");
}

.interest-show {
    display: flex;
    flex-direction: row;
}

.interest-show div {
    border: 2px solid red;
    border-radius: 20px;
    padding: 2px 2px;
    margin: 3px 3px 3px 3px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 500;

}


.carousel-indicators li {
    width: 90px;
    height: 4px;
}

/*.content .card .user .carousel-inner image{
    width: 100%;
    height: 70% !important;
    display: inline-block;

}*/

.carousel-inner > .item {
    height: 400px;
    width: 500px !important;
}


.carousel-indicators li {
    width: 30px;
    height: 20px;
}

.carousel-inner img{
    height: 600px !important;
    width: 500px !important;
}

.carousel-indicators {
    margin-bottom: -400px;
}