body {
    background-color: #f5f7fa;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    max-height: 100vh;
    overflow-y: hidden;
}


.container {
    display: flex;
/*    position: absolute;*/


}

.side {
    width: 375px;
    min-width: 320px;
    background-color: #fff;
    min-height: 100vh;
    border-right: 1px solid #e1e1e1;
    height: 100%;


}

.space {
    width: 100%;
    height: 25px;
    background-color: #f5f7fa;
}

.side .header {
    background: linear-gradient(262deg, #ff7854, #fd267d);
    width: 100%;
    height: 67px;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.side .header .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-top: 5px;
    margin-left: 18px;
/*    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);*/
}

.side .header .title {
    padding: 0 10px;
    color: #fff;
    font-size: 23px;
    margin-left: 15px;
}

.side .menu ul {
    display: flex;
    padding: 0 20px;
}

.side .menu ul li {
    list-style: none;
    margin: 0 10px;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 0.5px;
}

.side .menu .active {
    border-bottom: 3px solid #fd5068;
    padding-bottom: 2px;
}

.side .messages {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    transition: 0.2s box-shadow;
}

.side .messages .avatar img {
    width: 70px;
    height: 70px;
    border-radius: 70px;
}

.side .messages .user {
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.side .messages .text {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0 10px;
    font-weight: 300;
    font-size: 15px;
    opacity: 0.8;
}

.side .messages:hover {
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    border-right: 5px solid #fd5068;
}

/*Middle*/

.mess {
    width: 1029px;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    background-color: white;
    min-height: 100vh;
}

.mess .mess-header {
    width: 100%;
    height: 70px;
    border-bottom: 2px solid #e1e1e1;;
}

.mess .content-mess {
    width: 100%;
    height: 760px;
    border-bottom: 2px solid #e1e1e1;
}

.mess .input-mess {
    width: 100%;
    height: 50px;
}

.profile {
    width: 513px;
    height: 100%;
    border-right: 1px solid #e1e1e1;
    overflow: visible;
}
/*
.profile .profile1{
    position: absolute;
    overflow: auto;
}*/

.ui .card {
    width: 100%;
    height: 90%;
}


/*Mess*/
.mess .mess-header .avatar1 {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;
    align-items: center;
}

.mess .mess-header .avatar1 .avatar-header-mess {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.mess .mess-header .avatar1 .close-btn {
    border: none;
    background-color: transparent;
    margin-left: 450px;
    outline: none;

}

.mess .mess-header .avatar1 .close-btn img{
    background-color: transparent;

}

.mess .mess-header .title {
    margin-left: 30px;
    font-size: 18px;
}

.mess .mess-header .avatar1 .close-btn:hover {
    background-color: rgba(227, 227, 227, 0.84);
    border-radius: 50%;
}

.mess .input-mess {
    display: flex;
}

.mess .input-mess button {
    padding-top: 2px;
    background-color: transparent;
    border: none;
    margin-left: 3px;
    margin-right: 3px;
}

.mess .input-mess .text-input {
    width: 690px;
    height: 40px;
    margin-top: 5px;
    margin-left: 2px;
    border: none;
}

.mess .input-mess .send-input {
    width: 79px;
    height: 33px;
    margin-top: 8px;
    border-radius: 12px;
    background-color: #e1e1e1;
    color: white;
    font-size: 19px;
    font-weight: bold;

}

.mess .input-mess button:focus {
    outline: none;
}


.mess .input-mess input:focus {
    outline: none;
}

/*Card*/
.profile .card img {
    width: 100%;
    height: 600px;
}

.profile .card .content {
    padding-left: 25px;
    border-bottom: 2px solid #e1e1e1;;
    padding-bottom: 10px;
}


.profile .card .content .name-profile {
    display: flex;
}

.profile .card .content .name-profile .name {
    padding-top: 3px;
    font-size: 29px;
}

.profile .card .content .name-profile .age {
    font-size: 22px;
    margin-left: 17px;
    margin-top: 14px;
}

.profile .card .content .local {
    display: flex;
    align-items: center;
    padding: 0 0 5px 0;
}

.profile .card .content .local {
    display: flex;
    align-items: center;
    padding: 0 0 8px 0;
}

.profile .card .content .local span {
    font-size: 19px;
    padding: 0 10px;
}

.profile .card .content .school-container {
    display: flex;
    align-items: center;
}

.profile .card .content .school-container span {
    font-size: 19px;
    padding: 0 10px;
}

.profile .card .content .live-container {
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.profile .card .content .live-container span {
    font-size: 19px;
    padding: 0 10px;
}


.profile .card .content .sex-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.profile .card .content .sex-container span {
    font-size: 19px;
    padding: 0 10px;
}


.profile .card .description {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    padding-top: 5px;
    margin-left: 28px;
    margin-top: 15px;
    font-size: 19px;
    border-bottom: 2px solid #e1e1e1;

}


.profile .unmatch-container {
    width: 100%;
    height: 70px;
    display: flex;
    margin-top: 10px;
}

.profile .unmatch-container button {
    width: 50%;
    height: 70px;
    font-weight: bold;
    color: black;
    background-color: #e1e1e1;
    border: none;
}

.profile .unmatch-container .unmatch-btn {
    border-right: 1px solid #6c6c6c;
}

.profile .unmatch-container button:hover {

    background: linear-gradient(262deg, #ff7854, #fd267d);
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
}

.profile .unmatch-container button:focus {
    outline: none;
}

.card .local i{
    height: 25px;
    width: 25px;
    background-image: url("../img/location.png");
}

.card .school-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/school.png");
}



.card .sex-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/sex.png");
}

.card .live-container i{
    height: 25px;
    width: 25px;
    background-image: url("../img/house.png");
}