
body {
    background-color: #f5f7fa !important;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-y: hidden;
}

/*#homepage-btn img{
    display: inherit;
    background-image: url("../img/homepage1.png");
}*/

/*#homepage-btn{
    border-bottom: 3px solid #fd5068;
}*/
.container {
    display: flex;
    background-color: #f5f7fa;
}


.container button:focus {
    outline: none;
}

.side {
    min-width: 320px;
    background-color: white;
    height: 100%;
    min-height: 100vh;
    border-right: 1px solid #e1e1e1;
    overflow: hidden;
    margin-left: -410px !important;
}

.content {
    width: 100%;
    height: 100vh;
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    margin-left: 410px;

}

.space {
    width: 320px;
    height: 25px;
}

.side .header {
    /*margin-top: 40px;*/
    border: none;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    width: 100%;
    height: 60px;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    display: flex;
    align-items: center;
    padding: 0 20px;
}


.side .header .avatar img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #fff;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    margin-left: 45px;
}

.side .header .title {
    padding: 0 10px;
    color: #fff;
    font-size: 23px;
    margin-left: 18px;
}


.side .side-btn .avatar1 {
    background-color: white;
    box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
    width: 100%;
    height: 70px;
    padding: 30px 20px;
    margin-top: 20px;
    border: none;
    align-items: center;
    display: flex;

}

.side .side-btn .avatar1 .title {
    align-items: center;
    font-weight: bold;
}

.side .side-btn .title {
    margin-left: 18px;
    font-size: 15px;
}


.side .side-btn .avatar1:hover {
    background-color: #E4E6EB;
    box-shadow: 0 0 15px 0 rgba(43, 78, 78, 0.1);
    border-right: 5px solid #007eed;
}


/*CARD*/
/*.container .card {
    position: relative;
    height: 450px;
}*/

.container .card {
    width: 380px;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.25);
    /*overflow-y: visible;*/
    position: absolute;
    overflow: auto;
    background: #f5f7fa !important;
}

::-webkit-scrollbar {
    width: 0px !important;
    background: transparent; /* make scrollbar transparent */
}

.content .card .user {
    width: 100%;
    height: 100%;

}

.content .card .user .carousel-indicators li {
    width: 90px;
    height: 4px;
}

/*.content .card .user .carousel-inner image{
    width: 100%;
    height: 70% !important;
    display: inline-block;

}*/

.carousel-inner > .item {
    height: 400px;
}

/*
.content .card .user .carousel-inner img{
    width: 100%;
    height: 100%;
}
*/

.content .card .user .user1 {
    width: 100%;
    height: 70%;

}

.content .card .user .profile {
    margin-top: -80px;
    margin-left: 10px;
    bottom: 0px;
    left: 25px;
}

.content .card .user .profile .info-icon {
    margin-left: 165px;
    border: none;
    background-color: transparent;
}

.content .card .user .profile .info-detail img:hover {
    transform: scale(1.25);
}


.content .card .user .name {
    color: rgba(29, 29, 29, 0.6);
    background-color: transparent;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 0.5px;
    /* text-shadow: 1px 1px 5px #444;*/
    text-shadow: 1px 1px 1px #444;
    margin-top: 90px;
}

.content .card .user .name span {
    font-size: 26px;
}

.content .card .local {
    display: flex;
    align-items: center;
    padding: 0 0 20px 0;
}


.content .card .local i {
    margin: 5px 0;
    color: rgba(29, 29, 29, 0.6);
}

.content .card .local span {
    color: rgba(29, 29, 29, 0.6);
    padding: 0 10px;
    text-shadow: 1px 1px 1px #444;
}

.content .buttons {
    margin-top: 130px;
    display: flex;
    align-items: center;
    position: fixed;
    margin-top: 25px;
    margin-left: 130px;

}

.content .buttons .no i {
    color: #fd2e79;
    font-size: 33px;
}

.content .buttons .star i {
    color: #2bb1ff;
    font-size: 22px;
}

.content .buttons .heart i {
    color: #11e298;
    font-size: 32px;
}

.content .buttons .no,
.content .buttons .star,
.content .buttons .heart {
    background-color: #fff;
    width: 70px;
    height: 70px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 70px;
    margin: 4px;
    transition: 0.2s transform;
}

.content .buttons .no:hover,
.content .buttons .star:hover,
.content .buttons .heart:hover {
    transform: scale(1.1);
}

.content .buttons .star {
    width: 60px;
    height: 60px;
}


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.buttons .edit-info-btn {
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 40px;
    margin-top: 600px;
}

.buttons .edit-info-btn:hover {
    background: linear-gradient(262deg, #fd267d, #ff7854);
    transform: scale(1.05);
    transition: 0.3s;
}


/*EDIT PROFILE*/
.container .content1 {
    width: 100%;
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    margin-left: 410px;
}


.container
.content1 .card-edit {
    width: 405px;
    height: 800px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.25);
    /*overflow-y: visible;*/
    position: absolute;
    overflow: auto;
    background: #f5f7fa !important;
}

::-webkit-scrollbar {
    width: 0px !important;
    background: transparent; /* make scrollbar transparent */
}

.card-edit .image-edit {
    width: 400px;
    height: 507px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.23);
    display: block;
}

.card-edit .image-edit .image-edit-container li {
    height: 155px;
    width: 130px;
    display: block;
    margin: 7px 7px 7px 7px;
}

.card-edit .image-edit .image-edit-container .image {

    background-color: #e0e0e0;
}


.card-edit .image-edit .image-edit-container .image-container1 {
    display: flex;
    flex-direction: row;
}


.card-edit .image-edit .image-edit-container .image-container1 .image-1 .btn-add1 {
    margin-top: 150px;
    margin-right: 400px;
}

.card-edit .image-edit .image-edit-container .image-container2 {
    display: flex;
    flex-direction: row;
}

.card-edit .image-edit .image-edit-container .image-container3 {
    display: flex;
    flex-direction: row;
}

.card-edit .image-edit .image-edit-container button {
    margin-top: -20px;
    margin-bottom: -33px;
    margin-left: 100px;
    position: absolute;
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: #fd5068;
    outline: none;
    font-weight: bold;
    font-size: 18px;
    border: none;
    color: white;
}

.card-edit .image-edit .image-edit-container button:hover {
    background: #ff7854;
}

.card-edit .image-edit .image-edit-container .image img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.23);
}

.card-edit .image-edit .image-edit-container .image .image-edit1 {
    height: 100%;
}

.buttons .save-info-btn {
    font-weight: bold;
    font-size: 20px;
    color: #FFF;
    background: linear-gradient(262deg, #ff7854, #fd267d);
    border-radius: 20px;
    border: none;
    width: 100px;
    height: 40px;
    margin-left: 150px;
    margin-top: 20px;
}

.buttons .save-info-btn:hover {
    background: linear-gradient(262deg, #fd267d, #ff7854);
}

.content1 #add-media {
    background: linear-gradient(262deg, #ff7854, #fd267d);
    margin-left: 75px;
    margin-top: 10px;
    padding-top: 10px;
    height: 38px;
    width: 250px;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    text-align: center;
}

.content1 #add-media {
    background: linear-gradient(262deg, #fd267d, #ff7854);
}

.content1 .card-edit label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.content1 .card-edit ul {
    list-style-type: none;
    display: block;
}

.content1 .about-edit {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 10px;
}

.content1 .about-edit .max-text {
    margin-top: -18px;
    margin-left: 365px;
    font-weight: bold !important;
}

.content1 .job-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content1 .school-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content1 .living-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content1 .gender-edit {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

.content1 .gender-edit .gender-select {
    padding: 10px 10px 18px 10px;
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
}

.content .card-edit .height-card {
    height: 150vh;
}

.input-about {
    /*    line-height: 60px;*/
    outline: none;
    border: none;
    padding-left: 24px;
    padding-top: 5px;
    padding-bottom: 5px;
    resize: none;
    overflow: auto;
    font-size: 18px;
    height: 80px;

    margin: 0;
}

.input-job {
    line-height: 40px;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 16px;
}

.input-school {
    line-height: 40px;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 16px;
}

.input-living {
    line-height: 40px;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 16px;
}

.input-gender {
    line-height: 40px;
    border: none;
    outline: none;
    padding-left: 24px;
    font-size: 16px;
}

/*
 .card .user {
    width: 380px;
    height: 565px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}
*/
.content1 .text-about {
    margin-left: 15px;
}

.content1 .text-job {
    margin-left: 15px;
}

.content1 .text-school {
    margin-left: 15px;
}

.content1 .text-living {
    margin-left: 15px;
}

.content1 .text-gender {
    margin-left: 15px;
}

.preview-btn {
    height: 30px;
    width: 150px;
    border-radius: 18px;
    outline: none;
    border: none;
    background-color: #80d8ff;
    font-weight: bold;
    margin-left: 125px;
}

#imagePreview {
    height: 100%;
}

.mt-100 {
    margin-top: 50px;
}


#css-dropdown {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 300px;
    height: 42px;
    margin: 100px auto 0 auto;
}

.interest #label-interest {
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 17px;
    font-size: 16px;

}

.interest #select-interest {
    padding-top: 5px;
}

#choices-multiple-remove-button {
    font-size: 16px;
}

.add-media {
    margin-top: 25px;
}

.field #gender-label {
    padding-left: 17px;
    padding-right: 17px;
}

#label-interest1 {
    padding-left: 15px;
    font-size: 14px;
}

.card .school .school-container i {
    height: 34px;
    width: 34px;
    background-image: url("../img/school1.png");
}


.card .gender .sex-container i {
    height: 25px;
    width: 25px;
    margin-top: -25px;
    margin-right: -4px;
    background-image: url("../img/sex.png");
}

.card .work .work-container i {
    height: 25px;
    width: 25px;
    background-image: url("../img/work.png");
}

.card .local-detail i {
    height: 25px;
    width: 25px;
    background-image: url("../img/house.png");
}

.gender .sex-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 2px;
}

.gender .sex-container .sex-name {
    margin-top: -20px;
    margin-left: 10px;
}

.school .school-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.school .school-container .school-name {
    margin-left: 2px;
}

.work .work-container {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 6px;
    border-bottom: 1px solid #bababc;
}

.work .work-container .work-name {
    margin-left: 5px;
}

.local .local-detail {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    margin-left: 4px;
}

.content .card .gender span {
    color: rgba(29, 29, 29, 0.6);
    padding: 0 10px;
    text-shadow: 1px 1px 1px #444;
}

.content .card .school span {
    color: rgba(29, 29, 29, 0.6);
    padding: 0 10px;
    text-shadow: 1px 1px 1px #444;
}

.content .card .work span {
    color: rgba(29, 29, 29, 0.6);
    padding: 0 10px;
    text-shadow: 1px 1px 1px #444;
}

.content .about {
    margin: 10px 10px 10px 10px;
    font-size: 17px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bababc;
}

.interest-show {
    display: flex;
    flex-direction: row;
}

.interest-show div {
    border: 2px solid red;
    border-radius: 20px;
    padding: 2px 2px;
    margin: 3px 3px 3px 3px;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 15px;
    font-weight: 500;

}


.carousel-indicators li {
    width: 30px;
    height: 20px;
}

.carousel-indicators {
    bottom: -500px;
}